/src-tauri/target/
/src-tauri/gen/android/.gradle/
/src-tauri/gen/android/build/
/src-tauri/gen/android/app/build/
/src-tauri/gen/android/local.properties
/src-tauri/gen/android/tauri.properties
/src-tauri/gen/android/app/src/main/jniLibs/
/demo-assets/
/src-tauri/gen/schemas/
